---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Login" description="Login to your PeteZah Games account.">
  <div>
    <iframe src="/pages/settings/login/index.html" style="width: 100%; height: 100vh; border: none;"></iframe>
  </div>
</Layout>
