---
import Layout from '../../../layouts/Layout.astro';
import '../../../styles/generic-container.css';
---

<Layout title="Changelog" description="View the latest updates and changes to PeteZah Games.">
  <div class="god-rays" aria-hidden="true"></div>

  <div class="container">
    <div class="header">
      <h1>Changelog</h1>
    </div>

    <div class="content">
      <iframe src="/pages/other/changelog/index.html" style="width: 100%; height: 800px; border: none; border-radius: 10px;"></iframe>
    </div>
  </div>
</Layout>
