<aside class="sidebar">
  <header class="sidebar-header">
    <a href="/" class="header-logo" data-src="pages/home.html">
      <img src="storage/images/logo-png-removebg-preview.png" alt="PeteZah" />
    </a>
    <button class="toggler sidebar-toggler">
      <span class="material-symbols-rounded">chevron_left</span>
    </button>
    <button class="toggler menu-toggler">
      <span class="material-symbols-rounded">menu</span>
    </button>
  </header>
  <nav class="sidebar-nav">
    <ul class="nav-list primary-nav">
      <hr />
      <br />
      <li class="nav-item">
        <a href="/" class="nav-link">
          <span class="nav-icon material-symbols-rounded">Home</span>
          <span class="nav-label">Home</span>
        </a>
        <span class="nav-tooltip">Home</span>
      </li>

      <li class="nav-item">
        <a href="/games" class="nav-link">
          <span class="nav-icon material-symbols-rounded">sports_esports</span>
          <span class="nav-label">Games</span>
        </a>
        <span class="nav-tooltip">Games</span>
      </li>

      <li class="nav-item">
        <a href="/apps" class="nav-link">
          <span class="nav-icon material-symbols-rounded">apps</span>
          <span class="nav-label">Apps</span>
        </a>
        <span class="nav-tooltip">Apps</span>
      </li>

      <li class="nav-item">
        <a href="/proxy" class="nav-link">
          <span class="nav-icon material-symbols-rounded">globe_book</span>
          <span class="nav-label">Proxy</span>
        </a>
        <span class="nav-tooltip">Proxy</span>
      </li>
    </ul>
    <ul class="nav-list secondary-nav">
      <li class="nav-item">
        <a href="/profile" class="nav-link">
          <span class="nav-icon material-symbols-rounded">account_circle</span>
          <span class="nav-label">Profile</span>
        </a>
        <span class="nav-tooltip">Profile</span>
      </li>

      <li class="nav-item">
        <a href="/settings" class="nav-link">
          <span class="nav-icon material-symbols-rounded">settings</span>
          <span class="nav-label">Settings</span>
        </a>
        <span class="nav-tooltip">Settings</span>
      </li>
    </ul>
  </nav>
</aside>
