<aside class="widget-popup">
  <button class="widget-option" data-src="pages/other/feedback/index.html">Feedback</button>
  <button class="widget-option" data-src="pages/other/changelog/index.html">Changelog</button>
</aside>
