---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Roblox IP" description="Roblox IP information page.">
  <div style="width: 100%; display: flex; align-items: center; justify-content: center; min-height: 100vh;">
    <h1>173</h1>
  </div>
</Layout>
