---
import Layout from './Layout.astro';
import Particles from '../components/Particles.astro';
import Sidebar from '../components/Sidebar.astro';
import Widget from '../components/Widget.astro';
import Settings from '../components/Settings.astro';

import '../styles/layout.css';

const hasHeader = !!Astro.slots.header;
const hasFooter = !!Astro.slots.footer;

const {
  title,
  description,
  publishDate,
  modifiedDate,
  type,
  author,
  ratingValue,
  ratingCount,
  genre,
  platform,
  price,
  currency,
  reviews,
  forumThread,
  faq
} = Astro.props;
import type { Props } from './Layout.astro';
---

<Layout {...Astro.props as Props}>
  {
    hasHeader && (
      <header>
        <slot name="header" />
      </header>
    )
  }

  <!-- Sidebar -->
  <Sidebar transition:persist />

  <!-- Main Content -->
  <main class="main-content">
    <Particles />
    <slot />
    <Widget />
  </main>
  {
    hasFooter && (
      <footer>
        <slot name="footer" />
      </footer>
    )
  }
  <script type="module" is:inline>
    import { registerSW } from 'virtual:pwa-register';

    function initSW() {
      registerSW({
        immediate: true,
        onNeedRefresh() {
          console.log('New content available, reload to update.');
        },
        onOfflineReady() {
          console.log('App is ready to work offline.');
        }
      });
    }

    initSW();
    document.addEventListener('astro:after-swap', initSW);
  </script>
  <Settings />
</Layout>
