---
import Layout from './Layout.astro';
import Particles from '../components/Particles.astro';
import Sidebar from '../components/Sidebar.astro';
import Widget from '../components/Widget.astro';
import Settings from '../components/Settings.astro';

import '../styles/layout.css';

/** Check if header slot is provided */
const hasHeader: boolean = !!Astro.slots.header;
/** Check if footer slot is provided */
const hasFooter: boolean = !!Astro.slots.footer;

const {
  title: _title,
  description: _description,
  publishDate: _publishDate,
  modifiedDate: _modifiedDate,
  type: _type,
  author: _author,
  ratingValue: _ratingValue,
  ratingCount: _ratingCount,
  genre: _genre,
  platform: _platform,
  price: _price,
  currency: _currency,
  reviews: _reviews,
  forumThread: _forumThread,
  faq: _faq
} = Astro.props;
import type { Props } from './Layout.astro';
---

<Layout {...Astro.props as Props}>
  <Fragment slot="head"><slot name="head" /></Fragment>
  {
    hasHeader && (
      <header>
        <slot name="header" />
      </header>
    )
  }

  <!-- Sidebar -->
  <Sidebar transition:persist />

  <!-- Main Content -->
  <main class="main-content">
    <Particles />
    <slot />
    <Widget />
  </main>
  {
    hasFooter && (
      <footer>
        <slot name="footer" />
      </footer>
    )
  }
  <script is:inline>
    import { registerSW } from 'virtual:pwa-register';

    function initSW() {
      registerSW({
        immediate: true,
        onNeedRefresh() {
          console.log('New content available, reload to update.');
        },
        onOfflineReady() {
          console.log('App is ready to work offline.');
        }
      });
    }

    initSW();
    document.addEventListener('astro:after-swap', initSW);
  </script>
  <Settings />
</Layout>
