---
import { ClientRouter } from 'astro:transitions';
import Particles from '../components/Particles.astro';
import Analytics from '../components/Analytics.astro';
import SEO from '../components/seo.astro';
import SEOjson from '../components/SEOjson.astro';
import Sidebar from '../components/Sidebar.astro';
import Widget from '../components/Widget.astro';

import '../styles/global.css';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO title={title} description={description} />
    <SEOjson />
    <Analytics location="head" />
  </head>
  <body>
    <Analytics location="body" />
    <Slot />
  </body>
</html>
